.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 15;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.6s;
}
.popup.open{
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content{
  transform: translate(0, 0);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  min-width: 300px;
  border-radius: 16px;
  padding: 45px 30px 30px;
  position: relative;
  transition: all 0.6s;
  opacity: 0;
  transform: translate(0, -100%);
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  color:#000;
  line-height: 0;
}
.popup__title {
  font-size: 40px;
  margin-bottom: 0.8em;
}
.popup {
  &__form {
    position: relative;
  }
}
.order-form {
  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
  }
  &__name-label {
    font-size: 12px;
    margin-bottom: 4px;
  }
  &__name-input {
    height: 35px;
    outline: none;
    padding: 0 20px;
    border: 1px solid black;
    background-color: silver;
  }
  &__phone-label {
    font-size: 12px;
    margin-bottom: 4px;
  }
  &__phone-input {
    height: 35px;
    outline: none;
    padding: 0 20px;
    border: 1px solid black;
    background-color: silver;
  }
  &__button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.1;
  }
}