.proposals-section {
  padding: 130px 0 75px;
  @media(max-width: 1199.98px){
    padding: 110px 0 65px;
  }
  &__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.proposal-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1 calc(50% - 30px);
  padding: 65px 25px 65px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.8s, transform 0.9s;
  &.new-animate{
    opacity: 1;
    transform: translateX(0);
  }
  @media(max-width: 1199.98px){
    padding: 45px 20px 45px 45px;
  }
  @media(max-width: 575.98px){
    padding: 20px 10px 20px 20px;
  }
  &_dairy-queen {
    background-image: url("../../assets/img/proposals-section/dairy-queen.png");
    //margin-bottom: 30px;
    justify-content: flex-end;
    transform: translateX(-200px);
    transition-delay: 0.3s;
  }
  &_pizza-hut {
    background-image: url("../../assets/img/proposals-section/pizza-hut.png");
    //margin-bottom: 30px;
    transform: translateX(200px);
    transition-delay: 0.6s;
  }
  &_burger-king {
    background-image: url("../../assets/img/proposals-section/burger-king.png");
    justify-content: flex-end;
    transform: translateX(-200px);
    transition-delay: 0.9s;
    @media(max-width: 991.98px){
      margin-bottom: 30px;
    }
  }
  &_papa-john {
    background-image: url("../../assets/img/proposals-section/papa-johns.png");
    transform: translateX(200px);
    transition-delay: 1.2s;
  }
  &__wrap {
    display: inline-block;
    width: 45%;
    @media(max-width: 1199.98px){
      width: 50%;
    }
    @media(max-width: 575.98px){
      width: 46%;
    }
  }
  &__headline {
    margin-bottom: 20px;
    @media(max-width: 1199.98px){
      margin-bottom: 10px;
    }
    @media(max-width: 575.98px){
      font-size: 22px;
    }
  }
  &__text {
    margin-bottom: 10px;
    @media(max-width: 1199.98px){
      font-size: 14px;
      margin-bottom: 15px;
    }
    @media(max-width: 575.98px){
      font-size: 12px;
    }
  }
  &__price-block {
    margin-bottom: 10px;
  }
  &__button {
    height: 40px;
    font-size: 12px;
    @media(max-width: 575.98px){
      padding: 0 20px;
    }
  }
}
.real-price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #F6762C;
//   margin-right: 10px;
}
.old-price {
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration-line: line-through;
  color: #F6762C;
  opacity: 0.5;
}



