@use "../../styles/variables" as *;
.main-footer {
  padding: 70px 0 100px;
  background-color: #272526;
  &__service-block{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: start;
  }
}
.contacts-block {
  grid-column: span 3;
  @media (max-width: 991.98px){
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 45px;
    grid-column: span 12;
  }
  //@media (max-width: 767.98px){
  //  display: flex;
  //  flex-direction: row;
  //  justify-content: space-around;
  //  align-items: center;
  //  margin-bottom: 45px;
  //  grid-column: span 12;
  //}
  @media (max-width: 575.98px){
    margin-bottom: 55px;
  }
  &__logo-link {
    justify-content: flex-start;
    margin-bottom: 25px;
    @media (max-width: 991.98px){
      margin-bottom: 0;
      z-index: 9;
    }
  }
  &__logo-image{
    width: 71px;
    height: 55px;
  }
  &__contacts {
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__link {
    font-size: 12px;
    line-height: 1.2;
    opacity: 0.8;
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
    transition: all 0.3s;
    &:hover{
      color: $button-color;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &_email::before{
      content: url("../../assets/img/footer/envelope.svg");
      position: absolute;
      height: 11px;
      left: 3px;
      top: 46%;
      transform: translateY(-50%);
    }
    &_site::before{
      content: url("../../assets/img/footer/planet.svg");
      position: absolute;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
      height: 12px;
    }
  }
}
.contacts {
  display: flex;
  flex-direction: column;
}
.footer-menu {
  grid-column: span 2;
  @media (max-width: 991.98px){
    grid-column: span 3;
  }
  @media (max-width: 575.98px){
    grid-column: span 4;
    text-align: center;
  }
  &__headline {
    margin-bottom: 15px;
    @media (max-width: 575.98px){
      font-size: 15px;
    }
  }
  &__list {}
  &__list-item {
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__link {
    display: inline-block;
    font-size: 12px;
    line-height: 1.2;
    opacity: 0.8;
    transition: all 0.3s;
    transform: translateX(0);
    &:hover{
      color: $button-color;
      transform: translateX(5px);
    }
  }
}
.social-media {
  grid-column: span 3;
  @media (max-width: 575.98px){
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: span 12;
  }
  &__headline {
    margin-bottom: 15px;
  }
}
.link-container {
  &__link{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    transition: all 0.3s;
    transform: scale(1);
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      transform: scale(1.6);
    }
  }
}
