.dish-block {
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    //width: 96%;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 0.8s, transform 0.9s;
    flex: 0 1 290px;
    &_anim-one{
        transition-delay: 0.3s;
    }
    &_anim-two{
        transition-delay: 0.6s;
    }
    &_anim-three{
        transition-delay: 0.9s;
    }
    &_anim-four{
        transition-delay: 1.2s;
    }
    &.new-animate{
        opacity: 1;
        transform: translateY(0);
    }
    @media screen and (min-width: 1025px) and (max-height: 700px) {
        flex: 0 1 245px;
        min-height: 326px;
    }
    //@media(max-width: 1399.98px){
    //  width: 100%;
    //}
    //@media(max-width: 1199.98px){
    //  width: 72%;
    //}
    //@media (max-width: 991.98px){
    //  width: 100%;
    //}
    //@media (max-width: 575.98px){
    //  width: 80%;
    //}
    &__image-wrap {
        width: 100%;
        height: 175px;
    }
    &__image{
        width: 100%;
        height: 100%;
    }
    &__text-wrap {
        padding: 30px 15px 20px;
        background-color: #312F30;
        text-align: center;
        height: 100%;
        @media (max-width: 991.98px){
        padding: 22px 12px 25px;
        }
        @media (max-width: 767.98px){
        padding: 15px 10px 25px;
        }
    }
    &__headline {
        margin-bottom: 15px;
    }
    &__text {
        margin-bottom: 12px;
    }
    &__price-box {
        margin-bottom: 12px;
    }
}
