.dishes-section {
    padding: 115px 0 100px;
    @media (max-width: 1199.98px){
        padding: 115px 100px 100px;
    }
    @media (max-width: 991.98px){
        padding: 100px 65px 80px;
    }
    @media (max-width: 767.98px){
        padding: 80px 0;
    }
    &__container{
        display: flex;
        flex-direction: row;
    }
}


