.reviews-section{
  padding: 155px 0 165px;
  @media(max-width: 575.98px){
    padding: 0 0 100px;
  }
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.picture-block{
  flex: 1 0 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s, transform 0.9s;
  &.new-animate{
    opacity: 1;
    transform: translateY(0);
  }
}
.picture-wrap {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media(max-width: 575.98px){
    transform: scale(0.82);
  }
  &__image {
    position: absolute;
    &_big-circle {
      position: relative;
      animation: around 60s linear infinite;
    }
    &_small-circle {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: around-other-way 30s linear infinite;
    }
    &_lady-one {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &_lady-two {
      // top: calc(50% - 186px);
      // left: calc(50% + 54px);
      animation: orbit-1 20s linear infinite;
    }
    &_lady-three {
      // top: calc(50% + 45px);
      // left: calc(50% + 105px);
      animation: orbit-2 20s linear infinite;
    }
    &_man-one {
      // top: calc(50% + 100px);
      // left: calc(50% - 127px);
      animation: orbit-3 20s linear infinite;
    }
    &_man-two {
      // top: calc(50% - 135px);
      // left: calc(50% - 190px);
      animation: orbit-4 20s linear infinite;
    }
    @keyframes around{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    @keyframes around-other-way{
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    @keyframes orbit-1{
      0% {
        transform: rotate(0deg) translate(115px, -125px) rotate(0deg);
      }
      100% {
        transform: rotate(-360deg) translate(115px, -125px) rotate(360deg);
      }
    }
    @keyframes orbit-2{
      0% {
        transform: rotate(0deg) translate(115px, 130px) rotate(0deg);
      }
      100% {
        transform: rotate(-360deg) translate(115px, 130px) rotate(360deg);
      }
    }
    @keyframes orbit-3{
      0% {
        transform: rotate(0deg) translate(-115px, -125px) rotate(0deg);
      }
      100% {
        transform: rotate(-360deg) translate(-115px, -125px) rotate(360deg);
      }
    }
    @keyframes orbit-4{
      0% {
        transform: rotate(0deg) translate(-115px, 125px) rotate(0deg);
      }
      100% {
        transform: rotate(-360deg) translate(-115px, 125px) rotate(360deg);
      }
    }
  }
}
.text-wrap {
  flex: 1 0 50%;
  text-align: center;
  //padding-top: 95px;
  //width: 38%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s, transform 0.9s;
  transition-delay: 0.4s;
  &.new-animate{
    opacity: 1;
    transform: translateY(0);
  }
  @media(max-width: 575.98px){
    padding-top: 55px;
    width: 80%;
  }
  &__service-block{
    width: 58%;
    margin: 0 auto;
  }
  &__quotes {
    margin-bottom: 40px;
    @media(max-width: 575.98px){
      margin-bottom: 22px;
    }
  }
  &__text {
    margin-bottom: 30px;
    @media(max-width: 575.98px){
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
  &__name {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 24px;
    opacity: 1;
    @media(max-width: 575.98px){
      font-size: 20px;
    }
  }
}

