.reviews-section{
  padding: 155px 0 165px;
  @media(max-width: 575.98px){
    padding: 0 0 100px;
  }
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.picture-block{
  flex: 1 0 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s, transform 0.9s;
  &.new-animate{
    opacity: 1;
    transform: translateY(0);
  }
}
.picture-wrap {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media(max-width: 575.98px){
    transform: scale(0.82);
  }
  &__image_center {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: default;
    opacity: 1;
  }
  &__image {
    position: absolute;
    &_big-circle {
      position: relative;
      animation: around 60s linear infinite;
    }
    &_small-circle {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: around-other-way 30s linear infinite;
    }
    @keyframes around{
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
    @keyframes around-other-way{
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
.text-wrap {
  flex: 1 0 50%;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 0.8s, transform 0.9s;
  transition-delay: 0.4s;
  &.new-animate{
    opacity: 1;
    transform: translateY(0);
  }
  @media(max-width: 575.98px){
    padding-top: 55px;
    width: 80%;
  }
  &__service-block{
    width: 58%;
    margin: 0 auto;
  }
  &__quotes {
    margin-bottom: 40px;
    @media(max-width: 575.98px){
      margin-bottom: 22px;
    }
  }
  &__text {
    margin-bottom: 30px;
    @media(max-width: 575.98px){
      font-size: 14px;
      margin-bottom: 16px;
    }
  }
  &__name {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 24px;
    opacity: 1;
    @media(max-width: 575.98px){
      font-size: 20px;
    }
  }
}
.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.orbit-container {
  position: absolute;
  width: 348px;
  height: 348px;
  transform-origin: center center;
  pointer-events: none;
}

.orbit-item-wrapper {
  position: absolute;
  width: 60px;
  height: 60px;
  pointer-events: auto;
  transform-origin: center center;
}

.orbit-item-0 {
  top: -27px;
  left: calc(50% - 27px);
  transform: translate(-50%, 0);
}

.orbit-item-1 {
  top: calc(50% - 27px);
  left: calc(100% - 37px);
  transform: translate(-50%, 0); // центр справа
}

.orbit-item-2 {
  top: calc(100% - 27px);
  left: calc(50% - 27px);
  transform: translate(-50%, 0); // центр снизу
}

.orbit-item-3 {
  top: calc(50% - 27px);
  left: -27px;
  transform: translate(0, 0); // центр слева
}

.orbit-item-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s, opacity 0.3s;
  cursor: pointer;


  &:hover {
      transform: scale(1.05);
  }
}
.center-photo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 110px;   // фиксированный размер центра
  height: 110px;
  border-radius: 50%;
  overflow: hidden; // обрезка, чтобы круг был аккуратный
  transform: translate(-50%, -50%);
  z-index: 2;
}
