.home-section {
  height: 100vh;
  background-image: url("../assets/img/home-section/burger-bg.jpg");
  background-size: cover;
}
.home-block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__headline {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.8s, transform 0.9s;
    transition-delay: 0.3s;
    @media(max-width: 991.98px){
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
  &__subheadline {
    font-size: 57px;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.8s, transform 0.9s;
    transition-delay: 0.6s;
    @media(max-width: 1199.98px){
      margin-bottom: 22px;
    }
    @media(max-width: 991.98px){
      margin-bottom: 20px;
      font-size: 52px;
    }
    @media(max-width: 767.98px){
      font-size: 48px;
    }
    @media(max-width: 575.98px){
      font-size: 42px;
      line-height: 1;
    }
  }
  &__text {
    width: 92%;
    font-size: 18px;
    margin-bottom: 42px;
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.8s, transform 0.9s;
    transition-delay: 0.8s;
    @media(max-width: 1199.98px){
      margin-bottom: 30px;
      font-size: 16px;
    }
    @media(max-width: 767.98px){
      font-size: 14px;
    }
    @media(max-width: 575.98px){
      width: 100%;
    }
  }
  &__button-wrap{
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 0.8s, transform 0.9s;
    transition-delay: 1.1s;
  }
}
.loaded .home-block__headline{
  opacity: 1;
  transform: translateX(0);
}
.loaded .home-block__subheadline{
  opacity: 1;
  transform: translateX(0);
}
.loaded .home-block__text{
  opacity: 1;
  transform: translateX(0);
}
.loaded .home-block__button-wrap{
  opacity: 1;
  transform: translateX(0);
}




