@use './variables' as *;
html {
  height: 100vh;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.2;
  background-color: #1C1C1C;
}
section {
  position: relative;
  overflow: visible;
  width: 100%;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1;
}
p {
  margin: 0;
  opacity: 0.7;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 30px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 16px;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1399.98px) {
    max-width: 1140px;
  }
  @media (max-width: 1199.98px) {
    max-width: 960px;
  }
  @media (max-width: 991.98px){
    max-width: 720px;
  }

  @media (max-width: 767.98px){
    max-width: 540px;
  }
}
.main-content {
  overflow: hidden;
}
.body-blocked {
    overflow: hidden;
}
.button {
  width: fit-content;
  height: 50px;
  background-color: $button-color;
  border: 1.5px solid $button-color;
  font-weight: 500;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0 35px;
  transition: all 0.3s;
  &:hover{
    color: $button-color;
    background-color: transparent;
  }
}







